.card {
  display: grid;
  margin-bottom: 8px;
  align-content: end;
  padding: 15px;
  height: 180px;
}

.teams {
  font-weight: 600;
  font-size: 16px;
}

.inputs {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  text-align: center;
}

.numberInput {
  width: 8.5rem;
  display: grid;
  align-items: end;
}

.label {
  text-align: center;
  padding-bottom: 3px;
  font-size: 13px;
}
.input {
  width: 5rem;
  justify-self: center;
  text-align: center;
  font-weight: 700;
  background-color: #f7f3ef;
}
.spanBetweenGoals {
  font-weight: 700;
  align-self: flex-end;
  padding-bottom: 8px;
}

.oddsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  gap: 5px;
  align-items: center;
}

.oddsLabel {
  color: #737577;
  font-size: 14px;
  font-weight: 600;
}

.oddsValue {
  font-weight: 600;
  color: #1ac26b;
}

.oddsValueExact {
  font-weight: 600;
  color: #1f6be7;
}

@media (min-width: 768px) {
  .card {
    padding: 15px;
    margin-bottom: 12px;
  }

  .label {
    font-size: 14px;
  }
}
